In [1]:
import re, requests, html5lib, math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
from pandas_datareader import data
from textblob import TextBlob

In [2]:
response = requests.get("http://jesse.ams.jhu.edu/~dan/FM/extracted_data.txt")
response.status_code

200

In [3]:
corpus = response.json() # corpus = list of document

In [4]:
type(corpus)

list

In [5]:
len(corpus)

3955

In [6]:
type(corpus[0])

list

In [7]:
len(corpus[0])

2

In [10]:
corpus[0][0]

{'yr': 2017,
 'qtr': '1',
 'company': '1347 Property Insurance Holdings, Inc.',
 'cik': '1591890',
 'url': 'edgar/data/1591890/0001387131-17-001422.txt'}

In [12]:
corpus[0][1][:1000]

' BUSINESS \xa0 Overview \xa0 1347 Property Insurance Holdings, Inc. (“PIH”, the “Company”, “we”, or “us”) was incorporated on October 2, 2012 in the State of Delaware under the name Maison Insurance Holdings, Inc. On November 19, 2013 we changed our legal name to 1347 Property Insurance Holdings, Inc. The Company has three wholly owned subsidiaries: Maison Insurance Company (“Maison”), Maison Managers, Inc. (“MMI”), and ClaimCor, LLC (“ClaimCor”). \xa0 Prior to March 31, 2014, the Company was a wholly owned subsidiary of Kingsway America Inc. (“KAI”). KAI, in turn is a wholly owned subsidiary of Kingsway Financial Services Inc. (“KFSI”), a publicly owned holding company based in Toronto, Ontario, Canada. On March 31, 2014, the Company completed an initial public offering (“IPO”) of its common stock and then on June 13, 2014, the Company completed a follow-on offering. Through the combination of the Company’s IPO and follow-on offering, we issued approximately five million shares of our common s'

Intro to pandas

In [13]:
data = {'Tickers':['AAPL', 'GE', 'JPM'], 
        'Price':[177, 16, 114], 
        'Sector':['tech', 'industrial', 'bank']}

In [14]:
df = pd.DataFrame(data)

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
print(df)

  Tickers  Price      Sector
0    AAPL    177        tech
1      GE     16  industrial
2     JPM    114        bank

In [17]:
url = "http://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [19]:
listofDataFrame = pd.read_html(url, header=0)

In [20]:
len(listofDataFrame)

3

In [21]:
df = listofDataFrame[1]

In [22]:
type(df)

pandas.core.frame.DataFrame

In [23]:
print(len(df)) # why 5 more?

505

Five companies with dual share classes, e.g Google

In [24]:
df[:3]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added[3][4],CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)

In [25]:
tickerList = list(df['Symbol'])

In [27]:
CIKlist = list(map(str, df['CIK']))

In [28]:
CIKlist[0]

'66740'

In [29]:
# map ticker to CIK
CIKdict = dict(zip(tickerList, CIKlist))

In [31]:
CIKdict['AAPL']

'320193'

In [34]:
print(list(zip(tickerList, CIKlist))[:10])

[('MMM', '66740'), ('ABT', '1800'), ('ABBV', '1551152'), ('ABMD', '815094'), ('ACN', '1467373'), ('ATVI', '718877'), ('ADBE', '796343'), ('AMD', '2488'), ('AAP', '1158449'), ('AES', '874761')]

In [35]:
CIKset = set(CIKlist)
len(CIKset) # one company one CIK

500

In [36]:
SPXcorpus = {doc[0]['cik']: doc for doc in corpus if doc[0]['cik'] in CIKset}

In [37]:
type(SPXcorpus)

dict

In [38]:
len(SPXcorpus)

268

In [40]:
fin = open ("/Users/xuanxiandu/Desktop/NLP/glove/glove.6B.50d.txt", "r", encoding='utf-8')
lines = fin.readlines()
fin.close()  # Closes the file and frees any system resources used by the open file.
word2vec = {}
for line in lines:
    splitLine = line.split(" ")
    word = splitLine[0]
    vector = np.array([float(x) for x in splitLine[1:51]])
    word2vec[word] = vector